Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Packeged Game/2nd Zip.zip
Packeged Game/Game1/BattleBeetle.exe
Packeged Game/Game1/BattleBeetle/Content/Movies/bb credits_1.mp4
Packeged Game/Game1/BattleBeetle/Content/Movies/Cutscene1.mp4
Packeged Game/Game1/BattleBeetle/Content/Paks/BattleBeetle-WindowsNoEditor.pak
Packeged Game/Game1/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packeged Game/Game1/Manifest_NonUFSFiles_Win64.txt
Packeged Game/WindowsNoEditor/BattleBeetle.exe
Packeged Game/WindowsNoEditor/BattleBeetle/Content/Movies/bb credits_1.mp4
Packeged Game/WindowsNoEditor/BattleBeetle/Content/Movies/Cutscene1.mp4
Packeged Game/WindowsNoEditor/BattleBeetle/Content/Paks/BattleBeetle-WindowsNoEditor.pak
Packeged Game/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packeged Game/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Packeged Game/WindowsNoEditor2/BattleBeetle.exe
Packeged Game/WindowsNoEditor2/BattleBeetle/Content/Movies/bb credits_1.mp4
Packeged Game/WindowsNoEditor2/BattleBeetle/Content/Movies/Cutscene1.mp4
Packeged Game/WindowsNoEditor2/BattleBeetle/Content/Paks/BattleBeetle-WindowsNoEditor.pak
Packeged Game/WindowsNoEditor2/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packeged Game/WindowsNoEditor2/Manifest_NonUFSFiles_Win64.txt
Packeged Game/WindowsNoEditor3/BattleBeetle.exe
Packeged Game/WindowsNoEditor3/BattleBeetle/Content/Movies/bb credits_1.mp4
Packeged Game/WindowsNoEditor3/BattleBeetle/Content/Movies/Cutscene1.mp4
Packeged Game/WindowsNoEditor3/BattleBeetle/Content/Paks/BattleBeetle-WindowsNoEditor.pak
Packeged Game/WindowsNoEditor3/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Packeged Game/WindowsNoEditor3/Manifest_NonUFSFiles_Win64.txt
Packeged Game/Zip.zip
